@media screen and (max-width:1000px){
    .cont7box2 .membersname{
        height: 130px;
    }
}
    
@media screen and (max-width:900px) {
    .cont2box .box1 img{
        /* width: 300px; */
        max-width: 15rem;
    }
    .cont4box p{
        font-size:90%;
    }
    .cont6main .cont6box img{
        width:300px;
    }
}
@media screen and (max-width:850px) {
    .nav-boxs:nth-child(2){
        display: none;
    }
    .nav-boxs:nth-child(3){
        display: none;
    }
    .slide-button img{
        display: block;
    }
    .cont7main{
        flex-direction: column;
    }
    .cont7box1::after{
        display: none;
    }
    .cont7box1{
        width: 90%;
        display: flex;
        flex-direction: column;
    }
    .cont7box1{
       width:100%;
    }
    .cont7box2{
        width: 100%;
    }
    .cont7box1 p{
        max-width:400px;
    }.cont7box2 .membersname{
        height: 125px;
    }
    .cont7box2{
        height: 450px;
    }
}

@media screen and (max-width:800px) {
    .socials{
        width: 35px;
    }
    .socials img{
        width: 20px;
    }
    .cont2main h1{
        font-size:1.7rem;
    }
    .cont2box .box2 img{
        width: 60px;
    }
    .cont2box .box2 h2{
        color:#00ADEF;
        font-weight: 600;
        font-size: 1rem;
    }
    .cont2box .box2 p{
        font-size:80%;
        margin-bottom: 10px;;
    }
    .cont2box .box2 button{
        width: 150px;
        height: 33px;
    }
    .cont3 h1 {
        font-size:1.5rem;
    }
    .cont3 p{
        font-size:90%;
    }
    .cont9box:nth-child(1){
        /* width: 300px; */
      
    }
    .cont9box:nth-child(2){
        /* width: 300px; */
       
    }
    .cont9box:nth-child(3){
        width: 80%;
        
    }
    
}
@media screen and (max-width:750px) {
    .cont4main{
        flex-direction: column ;
        gap:0px;
    }
    .cont5main{
        flex-direction: column;
    }
    .cont5box h1{
        text-align: center;
    }
    .cont5box p {
        font-size:80%;
    }
    .cont6main{
        flex-direction: column;
    }
    .cont6main .cont6box h1{
        font-size: 1.7rem;
        margin:20px;
        text-align: center;
    }
}
@media screen and (max-width:700px){
    .cont1content h5{
        font-size:12px;
    }
    .cont1content p{
        font-size:12px;
    }
    .animationText{
        height: 40px;
    }
    .animationText ul li span{
        font-size:30px;
    }
    @keyframes liup {
        100%{
            top:-190px
        }
    }
}
@media screen and (max-width:650px) {
    .cont2box .box1 img{
        /* width: 300px; */
        max-width: 10rem;
    }
    .cont2box .box2 img{
        width: 40px;
    }
    .cont2box .box2 h2{
        color:#00ADEF;
        font-weight: 600;
        font-size: 0.7rem;
    }
    .cont2box .box2 p{
        font-size:70%;
        margin-bottom: 10px;;
    }
    .cont2box .box2 button{
        width: 120px;
        height: 23px;
        font-size: 50%;
    }
    .cont2box{
        width: 96%;
    }
    .cont8main{
        width: 400px;
        height: auto;
    }
    .cont9box:nth-child(3){
        width: 100%;
    
    }
}

@media screen and (max-width:500px) {
    .cont7box1 p{
        width:100%;
    }
    .cont7box1 img{
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width:470px){
    .cont2main h1{
        font-size:1.2rem;
    }
    .cont2box .box1 img{
        /* width: 300px; */
        max-width: 7rem;
    }
    .cont7box1{
        width:90%;
    }
    .cont8main{
        width: 350px;
    }
}
@media screen and (max-width:450px) {
    .socials{
        width: 35px;
    }
    .socials img{
        width: 20px;
    }
    .cont4box{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:70px 10px;
    }
    .cont4box p{
        font-size:80%;
        text-align: center;
    }
    .cont4box img{
        width:4rem;
    }
    .cont4box h4{
        font-size:0.9rem;
    }
    .cont5box img{
        width:300px;
    }
    .cont7box2 .membersname{
    height: 175px;
    }
    .cont7box2{
    height: 610px;
    }
    .cont9box:nth-child(1) img{
        width: 60px;
    }
    .cont9box:nth-child(1) h1{
        font-size:1.2rem;
    }
    .cont9box:nth-child(2){
    
        font-size:0.7rem;
    }

}
@media screen and (max-width:380px) {
    .cont8main{
        width:95%;
        }
}