@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 100%;
}
body{
    position: relative;
}

/* Social Bar */

.socials{
    position:fixed;
    right: 25px;
    bottom:20px;
    width:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding:10px ;
    padding-bottom: 3px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(173, 173, 173, 0.288), 0 6px 20px 0 rgb(148, 147, 147);
    animation: socialClr 2.0s infinite alternate ;
    z-index: 1;
}
@keyframes socialClr {
    100%{
        background-color: #00ADEF;
    }
}
.socials img{
    width: 25px;
}

/* Navbar */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 0 20px;
    box-shadow: 2px 2px 40px rgba(177, 169, 169, 0.623);
    position: relative;
    z-index: 3;
}
nav .nav-boxs img {
    width: 150px;
}
.nav-boxs ul li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
}
.nav-boxs ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    position: relative;
    transition: 0.5s;
}
.nav-boxs ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #00ADEF;
    transition: 0.5s;
}
.nav-boxs ul li a:hover::before {
    width: 100%
}
.nav-boxs ul li a:hover {
    color: #00ADEF;
}
.nav-boxs .dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 190px;
    height: auto;
    padding: 15px;
    line-height: 2;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(248, 248, 248, 0.123);
}
.nav-boxs ul li:nth-child(4):hover .dropdown {
    display: block;
}
.nav-boxs .dropdown ul li {
    display: block;
}
.nav-boxs button {
    width: 130px;
    height: 40px;
    border: 2px solid #00ADEF;
    border-radius: 5px;
    background-color: #00ADEF;
    color: white;
    transition: 0.5s;
}
.nav-boxs button:hover {
    background-color: white;
    color: #00ADEF;

}
.slide-button {
    position: absolute;
    right: 20px;
}
.slide-button img {
    display: none;
    width: 20px;
    cursor: pointer;
}
.slide-menu {
    display: none;
    position:fixed;
    top: 0;
    right:0%;
    width: 80%;
    height: 100vh;
    background-color: white;
    transition: 0.5s;
    z-index: 4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(243, 241, 241, 0.19);
}
.slide-menu-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide-menu-items img {
    margin-bottom: 15px;
}
.slide-menu-items ul li {
    list-style-type: none;
    margin: 5px;
}
.slide-menu-items ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.slide-menu-items #contentUs {
    width: 130px;
    height: 40px;
    background-color: #00ADEF;
    border: 2px solid #00ADEF;
    border-radius: 5px;
    color: white;
    margin: 10px;
    transition: 0.5s;
}
.slide-menu-items #contentUs:hover {
    color: #00ADEF;
    background-color: white;
}
.slide-menu-items #closeBtn {
    width: 100px;
    height: 40px;
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
    margin: 10px;
    transition: 0.3s;
}
.slide-menu-items #closeBtn:hover {
    background-color: white;
    border: none;
    color: red;
    border: 1px solid red;
}

/* Container 1 */

.cont1{
    width: 100%;
    height: 100vh;
    background-image: url(img/landingBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.cont1main{
    width: 100%;
    height:100%;
    margin-top:-90px;
    position: relative;
}

.iconflowting{
    position: absolute;
    position: relative;  

}
.iconflow{

}

.iconflow img{
    width: 50px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(243, 241, 241, 0.19);
}
#iconflow1{
    position: absolute;
    top:150px;
    left:50%;
    animation: iconflows1 3s infinite alternate;
}
@keyframes iconflows1 {
    100%{
        top: 180px;
        left:48%;
    }
}

#iconflow2{
    position: absolute;
    top:250px;
    left:80%;
    animation: iconflows2 3s infinite alternate;
}
@keyframes iconflows2 {
    100%{
        top: 280px;
        left:78%;
    }
}
#iconflow3{
    position: absolute;
    top:600px;
    left:60%;
    animation: iconflows3 3s infinite alternate;
}
@keyframes iconflows3 {
    100%{
        top: 630px;
        left:58%;
    }
}
#iconflow4{
    position: absolute;
    top:200px;
    left:60%;
    animation: iconflows4 3s infinite alternate;
}
@keyframes iconflows4 {
    100%{
        top: 230px;
        left:58%;
    }
}
#iconflow5{
    position: absolute;
    top:200px;
    left:10%;
    animation: iconflows5 3s infinite alternate;
}
@keyframes iconflows5 {
    100%{
        top: 230px;
        left:8%;
    }
}
#iconflow6{
    position: absolute;
    top:400px;
    left:30%;
    animation: iconflows6 3s infinite alternate;
}
@keyframes iconflows6 {
    100%{
        top: 430px;
        left:28%;
    }
}
#iconflow7{
    position: absolute;
    top:550px;
    left:10%;
    animation: iconflows7 3s infinite alternate;
}
@keyframes iconflows7 {
    100%{
        top: 580px;
        left:8%;
    }
}
.cont1content{
    height: 100%;
    max-width:700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 30px;
    position: relative;
    text-wrap: wrap;
}
.cont1content h5{
font-size:15px;
margin:6px 0;
text-wrap: wrap;
}
.animationText{
    height: 70px;
    overflow:hidden;
}
.animationText ul {

}
.animationText ul li{
    list-style-type: none;
    animation: liup 12s steps(4) infinite;
    position: relative;
    top:0px;
}
@keyframes liup {
    100%{
        top:-320px
    }
}
.animationText ul li span{
    position: relative;
    color:#00ADEF;
    font-weight: 600;
    font-size: 50px;

}
.animationText ul li span::before{
    content: "";
    position: absolute;
    top:0;
    right:-30px;
    width:110%;
    height: 100%;
    border-left:2px solid #00ADEF;
    background-color: white;
    animation: liryt 3s steps(15) infinite;
}
@keyframes liryt {
    100%{
    width:0%
    }
}







/* Container 2 */

.cont2{
    width: 100%;
    height: auto;
}
.cont2main{
    width: 100%;
    height: auto;
}
.cont2main h1{
    width: 100%;
    height: auto;
    text-align: center;
    margin:40px 0 ;
    font-size:2.2rem;
    transition:0.5s;
}
.cont2main h1 span{
    text-decoration: underline;
    color: #00ADEF;
}

.cont2boxmain{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cont2box{
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    padding:40px 0;

}
.cont2box:nth-child(1){
    border-left: 2px dashed #00ADEF;
    border-bottom: 2px dashed #00ADEF;
}
.cont2box:nth-child(2){
    border-right: 2px dashed #00ADEF;
    border-bottom: 2px dashed #00ADEF;
}
.cont2box:nth-child(3){
    border-left: 2px dashed #00ADEF;
    border-bottom: 2px dashed #00ADEF;
}
.cont2box:nth-child(4){
    border-right: 2px dashed #00ADEF;

}
.box1 img{
    filter: grayscale(100%);
    transition: 0.5s;
}
.cont2box:hover > .box1 img {
        filter: grayscale(0%);
        animation: movement 4s linear infinite ;
}
@keyframes movement {
    0%{
        transform: translateY(0px) translateX(0);
    }
    50%{
        transform: translateY(10px) translateX(10px);
    }
    100%{
        transform: translateY(0px) translateX(0);
    }
} 
.box2 img{
    filter: grayscale(100%);
    transition:0.5s;
}
.cont2box:hover > .box2 img{
    filter:grayscale(0%);
}
.cont2box .box1{
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2box .box1 img{
    /* width: 300px; */
    max-width: 20rem;

}
.cont2box .box2{
    max-width: 500px;
    height: auto;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cont2box .box2 img{
    width: 60px;
    margin-bottom: 10px;;
}
.cont2box .box2 h2{
    font-size: 1.5rem;
    color:#00ADEF;
    font-weight: 600;
    margin-bottom: 10px;;
    transition: 0.5s;
}
.cont2box .box2 p{
    margin-bottom: 10px;;
    font-size: 100%;
}
.cont2box .box2 button{
    width: 130px;
    height: 40px;
    border: 2px solid #00ADEF;
    border-radius: 5px;
    background-color: #00ADEF;
    color: white;
    transition: 0.5s;
}
.cont2box .box2 button:hover {
    background-color: white;
    color: #00ADEF;

}

/* Container 3 */

.cont3{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cont3 h1{
    color:#00ADEF;
    font-weight: 800;
    position: relative;
}
.cont3 h1::before{
    content: "";
    position: absolute;
    top:0;
    width: 0%;
    height: 90%;
    border-bottom:4px solid #00ADEF;
    animation: ourGoalsbor 6s infinite alternate ;
}
@keyframes ourGoalsbor {
    100%{
        width: 100%;
    }
}
.cont3 p{
    width:90%;
    text-align: center;
    margin: 30px 0;
}
.cont3 p span{
    font-weight:bold;
}
