
/* Career Conatainer 1 */

.careercont1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(/img/landingBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.careercont1main{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
   
}
.careercont1box{
    width:350px;
}
.careercont1box h2{
    font-size: 1.1rem;
}
.careercont1box h1{
    /* width:70%; */
    font-size: 2.7rem;
    font-weight: 600;
}
.careercont1box h1 span{
    color: #00ADEF
}
.careercont1box p{
    font-size: 0.7rem;
}

.careercont1box button {
    cursor: pointer;
    width: 130px;
    height: 40px;
    border: 2px solid #00ADEF;
    border-radius: 5px;
    background-color: #00ADEF;
    color: white;
    transition: 0.5s;
    margin-top:10px;
    font-size: 0.7rem;
}
.careercont1box button:hover {
    background-color: white;
    color: #00ADEF;
}
.careercont1box img{
    width:80%;
}


.careercont2{
    width:100%;
    height: auto;
}
.careercont2main{
    width: 100%;
    height: auto;
    display: flex;
    gap:20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:30px;
}
.careercont2box{
    width:240px;
    height: 250px;
    border:1px solid #00ADEF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.careercont1box:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.careercont2box img{
    width:50px;
    border-radius: 50%;
    margin-bottom:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(243, 241, 241, 0.19);
}
.careercont2box p{
    font-size:0.6em;
    text-align: center;
    width:84%;
    margin-toP:10px;
}
