@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}
body{
    position: relative;
}


/* Social Bar */

.socials{
    position:fixed;
    right: 25px;
    bottom:20px;
    width:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding:10px ;
    padding-bottom: 3px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(173, 173, 173, 0.288), 0 6px 20px 0 rgb(148, 147, 147);
    animation: socialClr 2.0s infinite alternate ;
    z-index: 1;
}
@keyframes socialClr {
    100%{
        background-color: #00ADEF;
    }
}
.socials img{
    width: 25px;
}

/* Navbar */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    width: 100%;
    padding: 0 20px;
    box-shadow: 2px 2px 40px rgba(177, 169, 169, 0.623);
    position: relative;
    z-index: 3;
}
nav .nav-boxs img {
    width: 150px;
}
.nav-boxs ul li {
    display: inline-block;
    padding: 0 10px;
    position: relative;
    transition:0.5s;
}
.nav-boxs ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    position: relative;
    transition: 0.5s;
}
.nav-boxs ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid #00ADEF;
    transition: 0.5s;
}
.nav-boxs ul li a:hover::before {
    width: 100%
}
.nav-boxs ul li a:hover {
    color: #00ADEF;
}
.nav-boxs .dropdown {
    display: none;
    position: absolute;
    left: 0;
    width: 190px;
    height: auto;
    padding: 15px;
    line-height: 2;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(248, 248, 248, 0.123);
}
.nav-boxs ul li:nth-child(4):hover .dropdown {
    display: block;
}
.nav-boxs .dropdown ul li {
    display: block;
}
.nav-boxs button {
    width: 130px;
    height: 40px;
    border: 2px solid #00ADEF;
    border-radius: 5px;
    background-color: #00ADEF;
    color: white;
    transition: 0.5s;
}
.nav-boxs button:hover {
    background-color: white;
    color: #00ADEF;

}
.slide-button {
    position: absolute;
    right: 20px;
}
.slide-button img {
    display: none;
    width: 20px;
    cursor: pointer;
}
.slide-menu {
    display: none;
    position:fixed;
    top: 0;
    right:0%;
    width: 80%;
    height: 100vh;
    background-color: white;
    transition: 0.5s;
    z-index: 4;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(243, 241, 241, 0.19);
}
.slide-menu-items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide-menu-items img {
    margin-bottom: 15px;
}
.slide-menu-items ul li {
    list-style-type: none;
    margin: 5px;
}
.slide-menu-items ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}
.slide-menu-items #contentUs {
    width: 130px;
    height: 40px;
    background-color: #00ADEF;
    border: 2px solid #00ADEF;
    border-radius: 5px;
    color: white;
    margin: 10px;
    transition: 0.5s;
}
.slide-menu-items #contentUs:hover {
    color: #00ADEF;
    background-color: white;
}
.slide-menu-items #closeBtn {
    width: 100px;
    height: 40px;
    background-color: red;
    border: 2px solid red;
    border-radius: 5px;
    color: white;
    margin: 10px;
    transition: 0.3s;
}
.slide-menu-items #closeBtn:hover {
    background-color: white;
    border: none;
    color: red;
    border: 1px solid red;
}

/* Career Conatainer 1 */

.careercont1{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(img/landingBg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.careercont1main{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
   
}
.careercont1box{
    width:350px;
}
.careercont1box h2{
    font-size: 1.1rem;
}
.careercont1box h1{
    /* width:70%; */
    font-size: 2.7rem;
    font-weight: 600;
}
.careercont1box h1 span{
    color: #00ADEF
}
.careercont1box p{
    font-size: 0.7rem;
}

.careercont1box button {
    cursor: pointer;
    width: 130px;
    height: 40px;
    border: 2px solid #00ADEF;
    border-radius: 5px;
    background-color: #00ADEF;
    color: white;
    transition: 0.5s;
    margin-top:10px;
    font-size: 0.7rem;
}
.careercont1box button:hover {
    background-color: white;
    color: #00ADEF;
}
.careercont1box img{
    width:80%;
}


.careercont2{
    width:100%;
    height: auto;
}
.careercont2main{
    width: 100%;
    height: auto;
    display: flex;
    gap:20px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding:30px;
}
.careercont2box{
    width:240px;
    height: 250px;
    border:1px solid #00ADEF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.careercont1box:nth-child(2){
    display: flex;
    justify-content: center;
    align-items: center;
}
.careercont2box img{
    width:50px;
    border-radius: 50%;
    margin-bottom:10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(243, 241, 241, 0.19);
}
.careercont2box p{
    font-size:0.6em;
    text-align: center;
    width:84%;
    margin-toP:10px;
}


/* Container 9 */

.cont9{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #F1F6FD;
}
.cont9main{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding:20px;
    flex-wrap: wrap;
}
.cont9box{
    width:30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:5px;
}
.cont9box img{
    width: 100px;
}.cont9box h1 span{
    color:#00ADEF;
}
.cont9box:nth-child(1) img{
    width:100px;
}
.cont9box ul li , a{
    list-style-type: none;
    text-decoration: none;
    color:black;
}
.cont9box h2{
    margin-left:-20px;
}
.cont9box .phone{
    display: flex;
    gap:10px;
    font-size:0.8rem;
    margin-top:10px;
    width: 90%;

}
.cont9box .email{
    width: 90%;
    display: flex;
    gap:10px;
    font-size:0.8rem;
    margin-top:15px;
}
.cont9box img{
    width: 25px;
}
.cont9box .earth{
    display: flex;
    gap:10px;
    width: 90%;
    margin:15px 0 ;


}
.cont9box .earth img{
    width:20px;
    height: 20px;
}
.cont9box .earth p{
    font-size:0.7rem;
    width:80%;
}
.cont9box .social{
    width: 90%;
}
.cont9box .social a{
    margin: 15px 5px;
}
.cont9box .termPolicy{
    width: 90%;
    padding:0 8px;
    margin:5px;
}